@charset "UTF-8";
/*//wts,mts common*/
/*font*/
.bFontType, .arti-title {
  font-family: Dotum, sans-serif;
  font-weight: 900; }

html, body, .rFontType, .scroll-custom thead tr th,
.scroll-custom thead tr td, .scroll-custom thead tr select, #divTableInOutCList .check-custom, #BoardDetail thead td input {
  font-family: Dotum, sans-serif;
  font-weight: 400; }

.numFontType, .numBold {
  font-family: Dotum, sans-serif; }

header:after, section:after, section article > .arti-inner:after, #coinList .search:after, #TradeMain:after, #TradeMain .coinTItle:after, #tradePage .tradeBuySell li:after, #tradePage #ClosePriceList .clear:after, #divOrderList dl:after,
#divNotContractList dl:after,
#divCoinList dl:after, .inContens.deposit_caution div:after,
.inContens.deposit_caution dl:after, .inContens.deposit_caution .bank_info dl:after, #CoinOut dl:after, #CoinOut .krw_out_info dd > div:after, #divTableInOutCList #tableInOutCList .inout-row dl:after, #totalAmount h2:after, #totalAmount ul:after, #totalAmount ul li:after {
  content: "";
  display: block;
  clear: both; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  color: #7D7D7D; }

body {
  -webkit-text-size-adjust: 100%;
  background-color: #f2f2f2; }

a {
  text-decoration: none;
  color: #7D7D7D; }

li {
  list-style: none; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 0.9rem; }

caption,
summary {
  display: none; }

.numBold {
  font-weight: 900; }

/*//wts,mts common*/
/*font-color*/
.font-color-plus {
  color: #ff6301; }

.font-color-minus {
  color: #176bcc; }

.font-dark {
  color: #222222 !important; }

.font-normal {
  color: #7D7D7D !important; }

.font-light {
  color: #999999; }

.font-color-primary {
  color: #176bcc; }

.font-color-pointe {
  color: #ff6301; }

.font-red {
  color: red; }

.caution, .caution * {
  color: red; }

/*text-align*/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

/*float*/
.float-right {
  float: right; }

.float-left {
  float: left; }

/*border*/
.boder-bottom-zero {
  border-bottom: none !important; }

.border-zero {
  border: none !important; }

/*margin*/
.margin-zero {
  margin: 0 !important; }

/*no data table*/
.noData div {
  height: 300px;
  border: none !important;
  line-height: 300px;
  text-align: center; }

/*vertical*/
.vertical-middle {
  display: table;
  width: 100%;
  height: 100%; }
  .vertical-middle .middle-inner {
    display: table-cell;
    vertical-align: middle; }

.scroll-custom {
  overflow-y: scroll;
  height: 100%; }
  .scroll-custom table {
    position: relative; }
  .scroll-custom caption,
  .scroll-custom summary {
    display: none; }
  .scroll-custom th,
  .scroll-custom td {
    padding: 0 4px; }
  .scroll-custom thead {
    display: table;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05); }
  .scroll-custom thead tr th,
  .scroll-custom thead tr td {
    background-color: #F9FAFC;
    color: #7D7D7D;
    border-bottom: 1px solid #d5d6dc;
    height: 36px;
    font-size: 1rem; }
  .scroll-custom thead tr th:first-child,
  .scroll-custom thead tr td:first-child {
    padding-left: 1rem; }
  .scroll-custom thead tr th:last-child,
  .scroll-custom thead tr td:last-child {
    padding-right: 1rem; }
  .scroll-custom thead tr select {
    height: calc(100% - 8px);
    border: 1px solid #d5d6dc;
    background-color: #F9FAFC;
    color: #7D7D7D;
    font-size: 1rem;
    cursor: pointer; }
  .scroll-custom tbody tr:first-child td {
    height: 76px;
    padding-top: 37px; }
  .scroll-custom tbody tr:last-child:not(:nth-child(-n+10)) td {
    border-bottom: none; }
  .scroll-custom tbody tr td {
    height: 40px;
    border-bottom: 1px solid #d5d6dc;
    font-size: 1rem;
    color: #222222; }
    .scroll-custom tbody tr td .sortData {
      display: none; }
    .scroll-custom tbody tr td input.dealID {
      display: block;
      width: 100%;
      height: calc(100% - 8px);
      padding: 0 4px;
      border: none; }
    .scroll-custom tbody tr td .date {
      font-size: 0.9rem; }
  .scroll-custom tbody tr td:first-child {
    padding-left: 1rem; }
  .scroll-custom tbody tr td:last-child {
    padding-right: 1rem; }
  .scroll-custom td.date span,
  .scroll-custom td.date small {
    display: block;
    margin-left: 0;
    font-size: 0.9rem;
    line-height: 1.4; }

.tab {
  display: flex;
  margin-bottom: 1rem;
  border: 1px solid #176bcc; }
  .tab .tab-title {
    width: 100%;
    height: 2.26rem;
    line-height: 2.26rem; }
  .tab .tab-title:not(:last-child) {
    border-right: 1px solid #176bcc; }
  .tab .tab-title.active {
    background-color: #176bcc;
    color: #fff; }

.tab-con {
  display: none;
  height: 100%; }
  .tab-con.active {
    display: block; }

/*input-box*/
.input-box {
  display: flex;
  border: 1px solid #d5d6dc; }
  .input-box * {
    color: #7D7D7D;
    font-size: 1rem; }
  .input-box > div {
    width: 100%; }
  .input-box > div:not(.read-only) {
    height: 2.712rem;
    padding: 4px 8px; }
  .input-box > .read-only,
  .input-box input:read-only {
    margin: -1px;
    border: 1px solid #d5d6dc;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: left; }
  .input-box > .read-only > input:read-only {
    margin: 0;
    border: none;
    background-color: transparent;
    text-align: left; }
  .input-box .flex {
    display: flex;
    padding: 0 !important; }
    .input-box .flex input, .input-box .flex button, .input-box .flex select {
      margin: 0;
      border: 0; }
  .input-box input, .input-box button, .input-box select {
    padding: 4px 8px;
    margin: -1px -1px -1px 0;
    border: none; }
  .input-box button {
    margin: 0;
    background-color: transparent;
    border-left: 1px solid #d5d6dc; }
    .input-box button.btn-color-primary {
      background-color: #176bcc;
      color: #fff;
      border: 1px solid transparent; }
    .input-box button.btn-color-primary:hover {
      background-color: #0f4787; }
    .input-box button.btn-color-primary.reversed {
      background-color: transparent;
      color: #176bcc;
      border-color: #176bcc; }
    .input-box button.btn-color-primary.reversed:hover {
      background-color: transparent;
      color: #0f4787;
      border-color: #0f4787; }
    .input-box button.btn-color-primary:disabled {
      background-color: #dddddd;
      color: #7d7d7d; }
    .input-box button.btn-color-pointe {
      background-color: #ff6301;
      color: #fff;
      border: 1px solid transparent; }
    .input-box button.btn-color-pointe:hover {
      background-color: #b44500; }
    .input-box button.btn-color-pointe.reversed {
      background-color: transparent;
      color: #ff6301;
      border-color: #ff6301; }
    .input-box button.btn-color-pointe.reversed:hover {
      background-color: transparent;
      color: #b44500;
      border-color: #b44500; }
    .input-box button.btn-color-pointe:disabled {
      background-color: #dddddd;
      color: #7d7d7d; }
  .input-box select {
    background-color: transparent;
    border-right: 1px solid #d5d6dc; }
  .input-box input {
    width: 100%;
    height: 2.712rem;
    background-color: transparent;
    text-align: right;
    color: #222222; }
  .input-box button {
    width: 10rem;
    height: 2.712rem;
    text-align: center; }
  .input-box select {
    width: 100px;
    height: 2.712rem; }

/*button*/
button {
  outline: none;
  position: relative;
  border: none;
  font-size: 0.9rem;
  transition: all .4s ease; }
  button:active {
    top: 1px;
    left: 1px; }

.btn-block {
  display: block;
  height: 2.712rem;
  width: 100%; }

.btn-200 {
  display: block;
  height: 2.712rem;
  width: 18.08rem;
  margin: 0 auto; }

.btn-color-primary {
  background-color: #176bcc;
  color: #fff;
  border: 1px solid transparent; }
  .btn-color-primary:hover {
    background-color: #0f4787; }
  .btn-color-primary.reversed {
    background-color: transparent;
    color: #176bcc;
    border-color: #176bcc; }
  .btn-color-primary.reversed:hover {
    background-color: transparent;
    color: #0f4787;
    border-color: #0f4787; }
  .btn-color-primary:disabled {
    background-color: #dddddd;
    color: #7d7d7d; }

.btn-color-pointe {
  background-color: #ff6301;
  color: #fff;
  border: 1px solid transparent; }
  .btn-color-pointe:hover {
    background-color: #b44500; }
  .btn-color-pointe.reversed {
    background-color: transparent;
    color: #ff6301;
    border-color: #ff6301; }
  .btn-color-pointe.reversed:hover {
    background-color: transparent;
    color: #b44500;
    border-color: #b44500; }
  .btn-color-pointe:disabled {
    background-color: #dddddd;
    color: #7d7d7d; }

small {
  margin-left: 5px; }

/*checkbox,radio custom*/
.check-custom input[type=checkbox],
.check-custom input[type=radio] {
  display: none; }

.check-custom input + label {
  display: inline-block;
  position: relative;
  padding-right: 1rem;
  padding-left: 2em;
  color: #222222;
  line-height: 2rem;
  cursor: pointer; }

.check-custom input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: -0.7rem;
  border: 1px solid #888;
  border-radius: 2px; }

.check-custom input + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 1rem;
  height: 1rem;
  margin-top: -0.6rem;
  background-size: contain;
  border-radius: 2px; }

.check-custom input[type=checkbox]:checked + label:before,
.check-custom input[type=radio]:checked + label:before {
  border-color: #176bcc; }

.check-custom input[type=checkbox]:checked + label:after,
.check-custom input[type=radio]:checked + label:after {
  background-image: url(../images/icon/verification-mark.png); }

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 86px;
  padding-bottom: 4.5rem; }

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 19px;
  height: 86px;
  background-color: #333;
  color: white;
  font-family: '나눔바른고딕', Nanum Barun Gothic, sans-serif;
  font-weight: 400; }
  header .logo {
    float: left;
    width: 200px;
    padding-top: 0; }
    header .logo a {
      display: block;
      height: 48px;
      margin-left: 10px; }
    header .logo a img {
      width: auto;
      height: 100%; }
  header .hamburger {
    display: block;
    float: right;
    position: relative;
    z-index: 2000;
    margin-top: 18px;
    margin-right: 18px;
    /*exchange action*/
    /*click action*/ }
    header .hamburger button {
      position: relative;
      display: block;
      width: 25px;
      height: 2px;
      color: #fff;
      font: bold 14px/.4 Helvetica;
      text-transform: uppercase;
      text-indent: -55px;
      background: #fff;
      transition: all .2s ease-out; }
    header .hamburger button::before,
    header .hamburger button::after {
      content: '';
      width: 25px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      transition: all .2s ease-out; }
    header .hamburger button::before {
      top: -10px; }
    header .hamburger button::after {
      bottom: -10px; }
    header .hamburger.move {
      margin-top: 8px; }
      header .hamburger.move button::before {
        top: -9px; }
      header .hamburger.move button::after {
        bottom: -9px; }
    header .hamburger.active button {
      background: transparent; }
    header .hamburger.active button::before {
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg); }
    header .hamburger.active button:after {
      bottom: 0;
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -o-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg); }
    header .hamburger.active button::before,
    header .hamburger.active button::after {
      content: '';
      width: 25px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      transition: all .2s ease-out; }
  header nav.mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7); }
    header nav.mobile .list {
      position: fixed;
      z-index: 1901;
      width: 270px;
      margin-top: 3px;
      background-color: #000;
      top: 0;
      right: -100%;
      bottom: 0;
      padding: 75px 40px 40px 40px;
      overflow-y: auto;
      transition: right 0.5s ease; }
    header nav.mobile.active {
      right: 0; }
    header nav.mobile.active .list {
      right: 0; }
    header nav.mobile .has-dropdown {
      position: relative; }
      header nav.mobile .has-dropdown:after {
        content: "\e921";
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.2);
        font-family: 'icomoon'; }
      header nav.mobile .has-dropdown.active:after {
        transform: rotate(180deg); }
      header nav.mobile .has-dropdown.active .dropdown {
        display: block; }
      header nav.mobile .has-dropdown.active .depth1 > li > a {
        color: rgba(255, 255, 255, 0.8); }
    header nav.mobile .depth1 a {
      display: block;
      height: auto;
      padding: 0;
      font-size: 16px;
      line-height: 1.7;
      color: rgba(255, 255, 255, 0.5); }
    header nav.mobile .dropdown {
      display: none; }
    header nav.mobile .dropdown a {
      padding-left: 20px; }

nav.menu {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4.5rem;
  background-color: #176bcc;
  color: #fff;
  font-size: 1.1rem; }
  nav.menu ul {
    display: flex;
    height: 100%;
    padding: 0 1rem; }
  nav.menu li {
    width: 100%;
    height: 100%;
    text-align: center; }
  nav.menu .txt {
    padding-top: 0.7rem;
    line-height: 1.6;
    font-size: 1rem; }
  nav.menu .txt:before {
    content: "";
    display: block;
    width: 100%;
    height: 1.6rem;
    margin-bottom: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  nav.menu .txt.home:before {
    background-image: url("../images/icon/i_home.png"); }
  nav.menu .txt.chart:before {
    background-image: url("../images/icon/i_chart.png"); }
  nav.menu .txt.list:before {
    background-image: url("../images/icon/i_list.png"); }
  nav.menu .txt.wallet:before {
    background-image: url("../images/icon/i-wallet.png"); }
  nav.menu .txt.board:before {
    background-image: url("../images/icon/i-board.png"); }
  nav.menu li .txt,
  nav.menu li .txt:before {
    opacity: 0.6; }
  nav.menu li.active .txt,
  nav.menu li.active .txt:before {
    opacity: 1; }

section {
  position: relative;
  z-index: 1;
  height: 100%;
  transition: all .4s ease; }
  section article {
    height: 100%; }
    section article > .arti-inner {
      height: 100%;
      background-color: #ffffff;
      color: #7D7D7D; }

.arti-title {
  height: 2.712rem;
  border-bottom: 1px solid #d5d6dc;
  background-color: #176bcc;
  color: white;
  line-height: 2.712rem;
  /*tab-title action*/ }
  .arti-title .tabs {
    display: block; }
  .arti-title .tab-title {
    display: inline-block;
    padding: 0 1rem;
    font-weight: 400; }
  .arti-title .tab-title {
    opacity: 0.6; }
  .arti-title .tab-title.active {
    opacity: 1; }

#exchange article,
#inOutList article {
  height: calc(100% - 2.712rem); }

/* 거래소 - 코인리스트 ------------------------------------------------------------------------------------------------------------------------------- */
#coinList thead th.sortTh {
  position: relative;
  padding-right: 19px;
  cursor: pointer; }
  #coinList thead th.sortTh:before, #coinList thead th.sortTh:after {
    content: "";
    display: block;
    position: absolute;
    right: 4px;
    border: 5px solid transparent;
    opacity: 0.5; }
  #coinList thead th.sortTh:before {
    top: 6px;
    border-bottom-color: #7D7D7D; }
  #coinList thead th.sortTh:after {
    bottom: 6px;
    border-top-color: #7D7D7D; }
  #coinList thead th.sortTh.up:before {
    border-bottom-color: #176bcc;
    opacity: 1; }
  #coinList thead th.sortTh.down:after {
    border-top-color: #176bcc;
    opacity: 1; }

#coinList tbody tr:first-child td {
  height: calc(73px + 40px);
  padding-top: 73px; }

#coinList .search .coin-option,
#coinList .search .coin-search {
  width: 50%;
  height: 100%; }

#coinList .search .coin-search input,
#coinList .search .coin-option select {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #7D7D7D; }

#coinList .search .coin-option select {
  border-right: 1px solid #d5d6dc; }

#coinList .bar {
  overflow: hidden;
  position: relative;
  width: 7px;
  height: 27px;
  margin: 0 auto; }

#coinList .bar .line,
#coinList .bar .box {
  position: absolute;
  top: 0;
  display: block;
  overflow: hidden;
  text-indent: -999em; }

#coinList .bar .line {
  left: 3px;
  width: 1px; }

#coinList .bar .box {
  left: 0;
  width: 7px; }

#coinList .bar.up .line,
#coinList .bar.up .box {
  background-color: #ff6301; }

#coinList .bar.down .line,
#coinList .bar.down .box {
  background-color: #176bcc; }

/* 거래소 -  호가테이블, 매수, 매도, 미체결내역 ------------------------------------------------------------------------------------------------------------------------------- */
#TradeMain {
  position: absolute;
  top: -75px;
  right: 0;
  left: 0;
  z-index: 100;
  height: auto;
  padding: 0 1rem; }
  #TradeMain .coinTItle .img_coin,
  #TradeMain .coinTItle #pageTitle {
    display: block;
    float: left; }
  #TradeMain .coinTItle .img_coin {
    width: 2.26rem;
    margin: 3px 0; }
  #TradeMain .coinTItle .img_coin img {
    width: 100%;
    height: auto; }
  #TradeMain #pageTitle {
    height: 2.712rem;
    margin-bottom: 5px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.3rem; }
    #TradeMain #pageTitle option {
      background-color: #333;
      color: #fff; }
  #TradeMain .TodayNowPrice,
  #TradeMain .selectCoinStatus {
    line-height: 1.4; }

#tradePage #askingprice,
#tradePage .tradeBuySell {
  float: left;
  height: 100%; }

#tradePage #askingprice {
  width: 45%; }

#tradePage .tradeBuySell {
  width: 55%; }

#tradePage #askingprice {
  overflow-y: scroll; }
  #tradePage #askingprice caption,
  #tradePage #askingprice summary {
    display: none; }
  #tradePage #askingprice th,
  #tradePage #askingprice td {
    padding: 0 4px; }
  #tradePage #askingprice tbody td {
    position: relative;
    height: 40px;
    border-right: 1px solid #d5d6dc;
    border-bottom: 1px solid #d5d6dc;
    font-size: 0.9rem;
    color: #222222; }
  #tradePage #askingprice .hogaTable tbody tr:last-child td {
    border-bottom: none; }
  #tradePage #askingprice .hogaTable .SellTd {
    background-color: rgba(255, 99, 1, 0.15); }
  #tradePage #askingprice .hogaTable .BuyTd {
    background-color: rgba(23, 107, 204, 0.1); }
  #tradePage #askingprice .hogaTable .gauge {
    display: inline-block;
    height: 100%; }
    #tradePage #askingprice .hogaTable .gauge.sell {
      float: left;
      margin-left: -4px;
      background-color: rgba(255, 99, 1, 0.15); }
    #tradePage #askingprice .hogaTable .gauge.buy {
      float: left;
      margin-left: -4px;
      background-color: rgba(23, 107, 204, 0.1); }
  #tradePage #askingprice .hogaTable .coin-qty {
    position: absolute;
    color: #222222;
    line-height: 40px; }
    #tradePage #askingprice .hogaTable .coin-qty.sell {
      right: 4px;
      text-align: right; }
    #tradePage #askingprice .hogaTable .coin-qty.buy {
      right: 4px;
      text-align: right; }

#tradePage .tradeBuySell {
  padding: 1rem 0.5rem; }
  #tradePage .tradeBuySell li {
    margin-bottom: 0.5rem; }
    #tradePage .tradeBuySell li p {
      font-size: 0.9rem; }
    #tradePage .tradeBuySell li .mb {
      margin-bottom: 0.5rem; }
  #tradePage .tradeBuySell .input-box button {
    width: 3.5rem; }
  #tradePage .tradeBuySell .input-box select {
    width: 100%;
    padding: 0;
    border: none; }
  #tradePage .tradeBuySell .tab-con {
    overflow-y: scroll;
    height: calc(100% - 26px);
    line-height: 1.6; }

#tradePage .notOrderList {
  border-top: 1px solid #d5d6dc; }

#tradePage #qtyBuy #BuyperSentOper,
#tradePage #qtySell #SellperSentOper {
  border: none; }
  #tradePage #qtyBuy #BuyperSentOper button,
  #tradePage #qtySell #SellperSentOper button {
    width: 100%;
    padding: 4px 0px;
    border: 1px solid #176bcc;
    border-right: none;
    color: #176bcc; }
  #tradePage #qtyBuy #BuyperSentOper button:last-child,
  #tradePage #qtySell #SellperSentOper button:last-child {
    margin: 0;
    border-right: 1px solid #176bcc; }
  #tradePage #qtyBuy #BuyperSentOper button:last-child:active,
  #tradePage #qtySell #SellperSentOper button:last-child:active {
    left: 0; }

#tradePage #ClosePriceList tbody tr {
  border-top: 1px solid #d5d6dc;
  border-bottom: 1px solid #d5d6dc; }

#tradePage #ClosePriceList tbody tr:first-child {
  border-top: 0; }

#tradePage #ClosePriceList td {
  padding: 0.5rem 0; }

#tradePage #ClosePriceList .data {
  padding-left: 0.5rem; }

#tradePage #ClosePriceList small {
  margin-left: 3px; }

#tradePage #ClosePriceList button {
  height: auto; }

#divOrderList .input-box,
#divNotContractList .input-box,
#divCoinList .input-box {
  display: flex;
  border-top: none;
  border-right: none;
  border-left: none; }

#divOrderList .input-box select,
#divNotContractList .input-box select,
#divCoinList .input-box select {
  width: 100%;
  padding: 0 8px; }

#divOrderList .input-box select:last-child,
#divNotContractList .input-box select:last-child,
#divCoinList .input-box select:last-child {
  border-right: none; }

#divOrderList .SellTd,
#divNotContractList .SellTd,
#divCoinList .SellTd {
  background-color: rgba(255, 99, 1, 0.15); }

#divOrderList .BuyTd,
#divNotContractList .BuyTd,
#divCoinList .BuyTd {
  background-color: rgba(23, 107, 204, 0.1); }

#divOrderList .tab-con,
#divNotContractList .tab-con,
#divCoinList .tab-con {
  overflow-y: scroll;
  height: calc(100% - 60px);
  line-height: 1.6; }

#divOrderList tbody tr:nth-child(odd) td:first-child,
#divNotContractList tbody tr:nth-child(odd) td:first-child,
#divCoinList tbody tr:nth-child(odd) td:first-child {
  border-right: 1px solid #d5d6dc; }

#divOrderList tbody tr td,
#divNotContractList tbody tr td,
#divCoinList tbody tr td {
  padding: 2px 5px;
  border-bottom: 1px solid #d5d6dc;
  line-height: 1.4; }
  #divOrderList tbody tr td:first-child,
  #divNotContractList tbody tr td:first-child,
  #divCoinList tbody tr td:first-child {
    border-right: 1px solid #d5d6dc; }
  #divOrderList tbody tr td:first-child small,
  #divNotContractList tbody tr td:first-child small,
  #divCoinList tbody tr td:first-child small {
    display: block;
    margin-left: 0; }
  #divOrderList tbody tr td:last-child,
  #divNotContractList tbody tr td:last-child,
  #divCoinList tbody tr td:last-child {
    padding: 0; }
  #divOrderList tbody tr td:last-child .list-row,
  #divNotContractList tbody tr td:last-child .list-row,
  #divCoinList tbody tr td:last-child .list-row {
    display: flex; }

#divOrderList dl,
#divNotContractList dl,
#divCoinList dl {
  width: 100%;
  padding: 2px 5px; }

#divOrderList button,
#divNotContractList button,
#divCoinList button {
  width: 90%;
  padding: 1px 0; }

#divOrderList .date span,
#divOrderList .date small,
#divNotContractList .date span,
#divNotContractList .date small,
#divCoinList .date span,
#divCoinList .date small {
  display: block;
  font-size: 0.9rem; }

#conclusion-list thead small {
  display: block;
  margin-left: 0; }

/* 입출금 - 보유자산리스트 ------------------------------------------------------------------------------------------------------------------------------ */
#tbCoinList {
  line-height: 1.4; }
  #tbCoinList tbody tr:first-child td:last-child {
    background-position: right 1rem bottom 1.2rem; }
  #tbCoinList tbody tr:first-child td:first-child .img-cover {
    top: 56px; }
  #tbCoinList tbody tr td:first-child {
    position: relative;
    padding-left: calc(1.8rem + 1rem + 5px); }
  #tbCoinList tbody tr td:last-child {
    padding-right: 2.5rem;
    background-size: 1rem;
    background-image: url(../images/board/arrow-button.png);
    background-repeat: no-repeat;
    background-position: right 1rem center; }
  #tbCoinList .coin_name,
  #tbCoinList .img-cover {
    float: left;
    display: block; }
  #tbCoinList .img-cover {
    position: absolute;
    top: 50%;
    left: 1rem;
    width: 1.8rem;
    margin-top: -0.9rem;
    height: 1.8rem;
    line-height: 1.8rem; }
  #tbCoinList .img-cover img {
    width: 100%; }
  #tbCoinList .inout_can span,
  #tbCoinList .inout_not span {
    display: block; }
  #tbCoinList .inout_not {
    color: #ff6301; }
  #tbCoinList .inout_can {
    color: #176bcc; }

/* 입출금 - 입금,출금,입출금내역 ------------------------------------------------------------------------------------------------------------------------------ */
#inOutList .inOutTitle {
  margin-top: 0;
  /*margin-bottom:1rem;*/
  padding-bottom: 1rem;
  border-bottom: 1px solid #ebecef;
  text-align: center; }

#inOutList .scroll-custom {
  padding: 1rem; }

#inOutList .deposit_guide {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.04);
  line-height: 1.6; }

#inOutList .input-box {
  line-height: calc(2.712rem - 4px); }

#inOutList .inOutList .scroll-custom {
  padding: 0; }

.inContens.deposit_caution .sum-wrap {
  margin-bottom: 1rem; }

.inContens.deposit_caution .assent {
  text-align: center; }

.inContens.deposit_caution .assent label {
  margin-top: 1rem; }

.inContens.deposit_caution .assent + button {
  margin-top: 10px; }

.inContens.deposit_caution .deposit_guide {
  padding: 20px;
  border-top: 1px solid #d5d6dc;
  font-size: 0.9rem;
  color: #222222;
  background-color: rgba(0, 0, 0, 0.04); }
  .inContens.deposit_caution .deposit_guide.full {
    height: 100%; }
  .inContens.deposit_caution .deposit_guide li {
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
    line-height: 1.4; }
  .inContens.deposit_caution .deposit_guide li:first-child {
    margin-top: 0; }
  .inContens.deposit_caution .deposit_guide li:after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #222222; }
  .inContens.deposit_caution .deposit_guide dt {
    line-height: 1.4; }
  .inContens.deposit_caution .deposit_guide dt:not(:first-child) {
    padding-top: 1rem; }
  .inContens.deposit_caution .deposit_guide dd {
    margin-top: 1rem;
    line-height: 1.4; }
  .inContens.deposit_caution .deposit_guide button {
    margin-top: 20px; }

.inContens.deposit_caution #deposit_cancel {
  margin-top: 1rem; }

.inContens.deposit_caution .bank_info {
  margin-right: auto;
  margin-left: auto; }
  .inContens.deposit_caution .bank_info dl:not(:last-child) {
    margin-bottom: 0.5rem; }
  .inContens.deposit_caution .bank_info dt,
  .inContens.deposit_caution .bank_info dd {
    box-sizing: border-box;
    line-height: 2.712rem; }
  .inContens.deposit_caution .bank_info dt {
    width: 25%;
    font-size: 1rem;
    color: #666666; }
    .inContens.deposit_caution .bank_info dt:not(.float-right) {
      float: left; }
  .inContens.deposit_caution .bank_info dd {
    width: 70%;
    color: #222222;
    font-size: 1rem; }
    .inContens.deposit_caution .bank_info dd.block {
      width: 100%; }
    .inContens.deposit_caution .bank_info dd:not(.float-left) {
      float: right;
      text-align: right; }
  .inContens.deposit_caution .bank_info .input-box button {
    width: 120px; }
  .inContens.deposit_caution .bank_info .deposit_name .input-box {
    border: none; }
  .inContens.deposit_caution .bank_info .deposit_name dt {
    float: inherit;
    width: 100%; }
  .inContens.deposit_caution .bank_info .deposit_name dd {
    float: inherit;
    width: 100%; }
  .inContens.deposit_caution .bank_info .deposit_name dd input {
    height: 2.712rem;
    margin: 0;
    background-color: #176bcc;
    color: #fff;
    border: 1px solid #176bcc;
    font-size: 1.5rem;
    text-align: center; }
  .inContens.deposit_caution .bank_info .deposit_name dd button {
    margin: 0;
    border: 1px solid #176bcc;
    color: #176bcc; }
  .inContens.deposit_caution .bank_info .deposit_name dd button:active {
    top: 0;
    left: 0; }
  .inContens.deposit_caution .bank_info .deposit_name_ex {
    padding: 10px 0;
    font-size: 1; }

.inContens#ulNullAddr {
  text-align: center;
  font-size: 1rem; }
  .inContens#ulNullAddr button {
    margin-top: 1rem; }

.inContens#ulAddr dl:not(:first-child) {
  margin-top: 0.5rem; }

.inContens#ulAddr dt {
  font-size: 1rem; }

.inContens#ulAddr .qr {
  display: inline-block;
  width: 60%;
  height: auto;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #d5d6dc; }
  .inContens#ulAddr .qr img {
    width: 100%;
    height: 100%; }

/*출금*/
#CoinOut .inoutAomount {
  font-size: 1rem; }
  #CoinOut .inoutAomount dl:first-child dd {
    font-size: 1.2rem; }
  #CoinOut .inoutAomount dt, #CoinOut .inoutAomount dd {
    font-size: 1rem; }

#CoinOut .scroll-custom > div {
  border-bottom: 1px solid #ebecef;
  padding: 0.5rem 0; }
  #CoinOut .scroll-custom > div.inOutTitle {
    padding: 0.5rem 0 1.5rem; }

#CoinOut dl {
  margin-bottom: 0.5rem; }

#CoinOut dt,
#CoinOut dd {
  box-sizing: border-box;
  line-height: 2.712rem; }

#CoinOut dt {
  width: 39%;
  font-size: 1rem;
  color: #666666; }
  #CoinOut dt:not(.float-right) {
    float: left; }

#CoinOut dd {
  width: 60%;
  color: #222222;
  font-size: 1rem; }
  #CoinOut dd.block {
    width: 100%; }
  #CoinOut dd:not(.float-left) {
    float: right;
    text-align: right; }

#CoinOut small {
  color: #999999; }

#CoinOut #divSecondaryAuthentication dt,
#CoinOut #divOTP dt,
#CoinOut #div_out_etc dt,
#CoinOut #div_out_qty dt,
#CoinOut #div_out_add dt {
  line-height: 2.712rem; }

#CoinOut #totalExchangeCan {
  color: #176bcc; }

#CoinOut .krw_out_info dt, #CoinOut .krw_out_info dd,
#CoinOut .coin_out_info dt,
#CoinOut .coin_out_info dd {
  width: 100%; }

#CoinOut .input-box button {
  padding: 0; }

#CoinOut #viewTimer {
  width: 100%;
  height: 2.712rem;
  padding: 4px 8px;
  text-align: right;
  padding-right: 1rem;
  letter-spacing: -1px;
  line-height: calc(2.712rem - 4px); }

/*입출금내역*/
#divTableInOutCList #tableInOutCList {
  font-size: 0.9rem;
  line-height: 1.6; }
  #divTableInOutCList #tableInOutCList .inout-row {
    position: relative;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #d5d6dc; }
    #divTableInOutCList #tableInOutCList .inout-row.up .tit,
    #divTableInOutCList #tableInOutCList .inout-row.up button {
      color: #ff6301; }
    #divTableInOutCList #tableInOutCList .inout-row.down .tit,
    #divTableInOutCList #tableInOutCList .inout-row.down button {
      color: #176bcc; }
    #divTableInOutCList #tableInOutCList .inout-row dt, #divTableInOutCList #tableInOutCList .inout-row dd {
      float: left; }
    #divTableInOutCList #tableInOutCList .inout-row dt {
      width: 25%;
      color: #222222; }
    #divTableInOutCList #tableInOutCList .inout-row dd {
      width: 75%; }
  #divTableInOutCList #tableInOutCList .input-box {
    height: auto;
    border: none;
    line-height: 1.6; }
    #divTableInOutCList #tableInOutCList .input-box input,
    #divTableInOutCList #tableInOutCList .input-box button {
      height: auto;
      padding: 0px;
      margin: 0;
      border: 0;
      background-color: transparent;
      font-size: 0.9rem;
      line-height: 1.6; }
    #divTableInOutCList #tableInOutCList .input-box input {
      color: #7D7D7D; }
    #divTableInOutCList #tableInOutCList .input-box button {
      width: 3rem;
      text-align: right; }

#divTableInOutCList .check-custom {
  background-color: #F9FAFC;
  color: #7D7D7D;
  border-bottom: 1px solid #d5d6dc;
  padding: 0.5rem 1rem;
  font-size: 1rem; }

/* 투자내역 ------------------------------------------------------------------------------------------------------------------------------ */
#investments {
  background-color: #ffffff; }
  #investments article:not(#totalAmount) {
    height: calc(100% - 15.26rem);
    border-top: 1px solid #d5d6dc; }
  #investments .tab {
    width: 60%;
    margin: 1rem auto;
    clear: both; }
  #investments #divOrderList .tab-con,
  #investments #divNotContractList .tab-con {
    height: calc(100% - 2.712rem); }
  #investments #divCoinList .tab-con {
    height: 100%; }
  #investments tbody tr td:first-child {
    padding-left: 1rem; }
  #investments tbody tr td:last-child {
    padding-right: 1rem; }

/*보유자산*/
#totalAmount {
  height: 10rem;
  line-height: 1.4; }
  #totalAmount .arti-inner > div {
    padding: 1rem 1rem 0; }
  #totalAmount h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem; }
  #totalAmount ul {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
  #totalAmount ul li {
    float: left;
    width: 50%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem; }

/* 공지사항 - 리스트 ------------------------------------------------------------------------------------------------------------------------------ */
#BoardList .scroll-custom tbody tr:first-child td {
  height: 84px;
  padding-top: 37px; }

#BoardList .scroll-custom tbody tr:first-child td:last-child {
  background-position: right 1rem bottom 1.4rem; }

#BoardList .scroll-custom tbody tr td {
  overflow: hidden;
  height: 48px;
  padding-right: 2.5rem;
  background-size: 1rem;
  background-image: url(../images/board/arrow-button.png);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  line-height: 1.6;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* 공지사항 - 디테일 ------------------------------------------------------------------------------------------------------------------------------ */
#BoardDetail thead td {
  height: 48px;
  padding-left: 2.5rem;
  background-size: 1rem;
  background-image: url(../images/board/arrow-prev.png);
  background-repeat: no-repeat;
  background-position: left 1rem center; }
  #BoardDetail thead td input {
    width: 100%;
    background-color: #F9FAFC;
    color: #7D7D7D;
    border: 0;
    font-size: 1rem;
    line-height: 47px; }

#BoardDetail .scroll-custom tbody td:first-child {
  padding: calc(48px + 1rem + 1px) 1rem 1rem 1rem; }

#BoardDetail .scroll-custom tbody td {
  padding: 1rem;
  border-bottom: 0;
  line-height: 1.6; }

/*media query*/
@media all and (orientation: portrait) {
  html, body {
    font-size: 2.95vw; } }

@media all and (orientation: landscape) {
  html, body {
    font-size: 2.95vh; }
  #investments article:not(#totalAmount) {
    float: left;
    width: 55%;
    height: calc(100% - 4.26rem - 2px); }
  #investments #totalAmount {
    float: left;
    width: 45%;
    height: 100%; }
  #investments .tab {
    float: left;
    clear: inherit;
    width: calc(55% - 2rem);
    margin: 1rem; } }
